.footer
  a(href="http://shiromi.org/")  Hitomi 
  span Design &hearts; Code by
  a(href="https://github.com/ZhenyuanMA")  Leef
  br
  a(target="_blank", href="/")  Rhombus 
  span theme on 
  a(href="https://hexo.io/zh-cn/", target="_blank") Hexo 
